input {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  border: none;
  padding: 10px; 
  background-color: #fff; 
  border-radius: 10px; 
}

p {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px; 
  border-radius: 10px; 
}